<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Nada</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">zxczxcz</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <mat-button [matMenuTriggerFor]="jobs">Algo aqui</mat-button>
    <mat-menu #jobs="matMenu" yPosition="above">
      <button mat-menu-item routerLink="Lo demasn"></button>
    </mat-menu>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
