<mat-toolbar color="primary">
  <button mat-button routerLink="{{appConst.JOBS_NAVIGATOR.OFFER_PATH}}">{{'menu_header.jobs.items.offer' | translate}}</button>
  <button mat-button [matMenuTriggerFor]="menuHeader" >Menu</button>
  <mat-menu #menuHeader="matMenu">
      <button mat-menu-item routerLink="{{appConst.JOBS_NAVIGATOR.COMPANY_PATH}}">{{'menu_header.jobs.items.company' | translate}}</button>
      <button mat-menu-item routerLink="{{appConst.JOBS_NAVIGATOR.MODE_PATH}}">{{'menu_header.jobs.items.mode' | translate}}</button>
      <button mat-menu-item routerLink="{{appConst.JOBS_NAVIGATOR.POSITION_PATH}}">{{'menu_header.jobs.items.position' | translate}}</button>
  </mat-menu>
</mat-toolbar>
