@if (this.sharedDataCurrent.logged) {
    <body>
    <mat-toolbar color="primary">
        <button mat-button
                routerLink="{{appConst.JOBS_NAVIGATOR.OFFER_PATH}}">{{ 'menu_header.jobs.items.offer' | translate }}
        </button>
        <button mat-button [matMenuTriggerFor]="menuHeader">Menu</button>
        <mat-menu #menuHeader="matMenu">
            <button mat-menu-item
                    routerLink="{{appConst.JOBS_NAVIGATOR.COMPANY_PATH}}">{{ 'menu_header.jobs.items.company' | translate }}
            </button>
            <button mat-menu-item
                    routerLink="{{appConst.JOBS_NAVIGATOR.MODE_PATH}}">{{ 'menu_header.jobs.items.mode' | translate }}
            </button>
            <button mat-menu-item
                    routerLink="{{appConst.JOBS_NAVIGATOR.POSITION_PATH}}">{{ 'menu_header.jobs.items.position' | translate }}
            </button>
            <button mat-menu-item
                    routerLink="{{appConst.JOBS_NAVIGATOR.SOURCE_PATH}}">{{ 'menu_header.jobs.items.source' | translate }}
            </button>
            <button mat-menu-item
                    routerLink="{{appConst.JOBS_NAVIGATOR.STATUS_PATH}}">{{ 'menu_header.jobs.items.status' | translate }}
            </button>
            <button mat-menu-item
                    routerLink="{{appConst.JOBS_NAVIGATOR.TERM_PATH}}">{{ 'menu_header.jobs.items.term' | translate }}
            </button>
        </mat-menu>
        <span class="spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <span mat-menu-item>{{ alias }}</span>
            <button mat-menu-item>
                <mat-icon>dialpad</mat-icon>
                <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
                <mat-icon>voicemail</mat-icon>
                <span>Check voice mail</span>
            </button>
            <button mat-menu-item (click)="logout()">
                <mat-icon>power_settings_new</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    </body>
}
