@import "../../app.component.scss";

form {
  margin-left: 50px;
  margin-right: 50px;
}

textarea {
  field-sizing: content;
}

.component-max-width {
  max-width: 200px;
}

.job-card {
  max-width: 400px;
}

.margin-bottom-component {
  margin-bottom: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.description-text {
  min-width: 100%;
  max-width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.mat-column-datetime {
  width:220px;
  max-width:220px;
  height: 20px;
  max-height: 20px;
}

.mat-column-description {
  width:1270px;
  max-width:1270px;
  height: 20px;
  max-height: 20px;
}

.mat-column-status {
  width:220px;
  max-width:220px;
  height: 20px;
  max-height: 20px;
}

.button-style {
  margin-right: 15px;
  width: 100px;
}
