<body>
    @if (loader.loading$ | async) {
        <div class="overlay"></div>
        <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
    }

<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="validateAccess()">
    <img class="mb-4 center-image" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt=""
         width="72" height="72"/>
    <h1 class="title-center h3 mb-3 font-weight-normal">{{ 'title' | translate }}</h1>
    <!-- Usuario -->
    <ng-container>
        <mat-form-field class="width-style">
            <mat-label class="sr-only">{{ 'frm_login.user.placeholder' | translate }}</mat-label>
            <input matInput formControlName="alias" id="alias"
                   [ngClass]="{ 'is-invalid': submitted && loginValid.invalid}">
            @if (submitted && loginValid.alias.invalid) {
                <div class="invalid-feedback">
                    @if (loginValid.alias.required) {
                        {{ 'frm_login.user.validation_messages.required' | translate }}
                    }
                    @if (loginValid.alias.minlength) {
                        {{ 'frm_login.user.validation_messages.minlength' | translate }}
                    }
                    @if (loginValid.alias.maxlength) {
                        {{ 'frm_login.user.validation_messages.maxlength' | translate }}
                    }
                </div>
            }
        </mat-form-field>
        <!-- Clave -->
        <mat-form-field class="width-style">
            <mat-label class="sr-only">{{ 'frm_login.password.placeholder' | translate }}</mat-label>
            <input matInput type="password" formControlName="password" id="password"
                   [ngClass]="{ 'is-invalid': submitted && loginValid.password.invalid}"/>
            @if (submitted && loginValid.password.invalid) {
                <div class="invalid-feedback">
                    @if (loginValid.password.required) {
                        {{ 'frm_login.password.validation_messages.required' | translate }}
                    }
                    @if (loginValid.password.minlength) {
                        {{ 'frm_login.password.validation_messages.minlength' | translate }}
                    }
                    @if (loginValid.password.maxlength) {
                        {{ 'frm_login.password.validation_messages.maxlength' | translate }}
                    }
                </div>
            }
        </mat-form-field>
        <!-- Casilla de verificacion para recordatorio de usuario -->
        <div class="checkbox mb-3 align-items-center">
            <mat-checkbox name="chkRememberMe" value="remember" formControlName="remember">
                {{ 'frm_login.remember.title' | translate }}
            </mat-checkbox>
            <a routerLink="/register" class="btn btn-link align-right">
                {{ 'frm_login.button_forget.title' | translate }}
            </a>
        </div>
    </ng-container>
    <!-- Botones -->
    <ng-container class="panel-buttons">
        <!-- Ingreso de usuario -->
        <button mat-raised-button color="primary" class="width-style">
            @if (loading) {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            <span>{{ 'frm_login.button_accept.title' | translate }}</span>
        </button>
    </ng-container>
</form>
</body>