<h1 id="modeTitle">{{ 'mode_board.title' | translate }}</h1>
@if (loader.loading$ | async) {
    <div class="overlay"></div>
    <mat-progress-spinner [mode]="'indeterminate'"></mat-progress-spinner>
}

<ng-container>
    <div class="panel-buttons">
        <button mat-icon-button [routerLink]="'/'+appConst.JOBS_NAVIGATOR.NEW_COMPANY_PATH" [routerLinkActive]="'active'"
                [matTooltip]="'mode_board.new_mode_button.title' | translate">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button (click)="exportToExcel()"
                [matTooltip]="'mode_board.export_to_excel_button.title' | translate">
            <mat-icon>description</mat-icon>
        </button>
        <mat-form-field class="panel-search">
            <mat-label>{{ 'mode_board.search.title' | translate }}</mat-label>
            <input id="mode-filter" placeholder="{{'mode_board.search.placeholder' | translate}}"
                   (keyup)="search($event)" maxlength="150" matInput>
        </mat-form-field>
        <mat-slide-toggle id="mode_status_filter" class="inactive-option"
                          [(ngModel)]="isInactiveShow"
                          [ngModelOptions]="{standalone: true}"
                          (change)="showInactive()">{{ 'mode_board.show_closed.title' | translate }}
        </mat-slide-toggle>
    </div>
</ng-container>

<div class="mat-elevation-z8">
    <mat-table aria-describedby="modeTitle" [dataSource]="matTableDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'mode_board.data_grid.id.title' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let mode"> {{ mode.id }}</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'mode_board.data_grid.name.title' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let mode"> {{ mode.name }}</mat-cell>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef
                             mat-sort-header>{{ 'mode_board.data_grid.description.title' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let mode"> {{ mode.description }}</mat-cell>
        </ng-container>

        <!-- Active Column -->
        <ng-container matColumnDef="active">
            <mat-header-cell *matHeaderCellDef>{{ 'mode_board.data_grid.active.title' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let mode">
                @if (mode.active) {
                    <mat-icon>check</mat-icon>
                } @else {
                    <mat-icon>close</mat-icon>
                }
            </mat-cell>
        </ng-container>
        <!-- Edit-->
        <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef>{{ 'mode_board.data_grid.edit.title' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button [routerLink]="'/' + appConst.JOBS_NAVIGATOR.EDIT_MODE_PATH + '/'+element.id">
                    <mat-icon>edit</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <!-- Add Status-->
        <ng-container matColumnDef="add_status">
            <mat-header-cell *matHeaderCellDef>{{ 'mode_board.data_grid.add_status.title' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="addStatus(element)">
                    <mat-icon>add</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
        <!-- Delete-->
        <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>{{ 'mode_board.data_grid.delete.title' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="deleteCompany(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!-- Paginator-->
    <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" showFirstLastButtons></mat-paginator>
</div>
